<footer class="border-top footer text-muted">
    @*<a class="navbar-brand" href="#">
        <img alt="Crimson Closet" id="corner-logo" src="~/img/favicons/mstile-70x70.png" />
    </a>*@
    <div class="container">
        @*&copy; 2022 - crimson_closet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Contact Info</a>
    </div>
</footer>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
