<footer id="footer" class="dark " style="background-color: var(--primary-color);">
    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="widget clearfix">

                        @*<div class="row col-mb-30">
                            <div class="col-lg-3 col-6  ">
                                <ul style="list-style: none">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-6">
                                <ul style="list-style: none">
                                    <li><a href="#">Shop</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">Forums</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-6 ">
                                <ul style="list-style: none">
                                    <li><a href="#">Corporate</a></li>
                                    <li><a href="#">Agency</a></li>
                                    <li><a href="#">eCommerce</a></li>
                                    <li><a href="#">Personal</a></li>
                                    <li><a href="#">One Page</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-6 ">
                                <ul style="list-style: none">
                                    <li><a href="#">Corporate</a></li>
                                    <li><a href="#">Agency</a></li>
                                    <li><a href="#">eCommerce</a></li>
                                    <li><a href="#">Personal</a></li>
                                    <li><a href="#">One Page</a></li>
                                </ul>
                            </div>
                        </div>*@

                    </div>
                </div>

                <div class="col-lg-3 mt-5 mt-lg-0 text-center text-lg-end">
                    <div class="widget clearfix">

                        <div class="row">
                            <div class="col-12 mb-3">
                                <small>Contact Us:</small>
@*                                <h4 class="h4">Handshake</h4>
*@                                
@*                                <link href="https://ua.joinhandshake.com/login" text="Handshake"/>
*@                                @*<asp:HyperLink id="handshakeLink"
                                               NavigateUrl="https://ua.joinhandshake.com/login"
                                               Text="Handshake"
                                               Target="_new"
                                               runat="server"/>    *@
                                <h4 class="h4">205-348-4363</h4>
                            </div>

                            <div class="col-12 d-flex justify-content-center justify-content-lg-end">
                                <a href="#" class="social-icon si-small si-light si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon si-small si-light si-delicious">
                                    <i class="icon-delicious"></i>
                                    <i class="icon-delicious"></i>
                                </a>
                                <a href="#" class="social-icon si-small si-light si-paypal">
                                    <i class="icon-paypal"></i>
                                    <i class="icon-paypal"></i>
                                </a>
                                <a href="#" class="social-icon si-small si-light si-flattr">
                                    <i class="icon-flattr"></i>
                                    <i class="icon-flattr"></i>
                                </a>
                            </div>

                            <div class="col-12 mt-5 text-white-50 text-smaller">
                                All Rights Reserved <br>&copy; 2020 by SemiColonWeb<br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->
    </div>
</footer><!-- #footer end -->
