<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Montserrat:300,400,500,600,700|Merriweather:300,400,300i,400i&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/css/swiper.css" type="text/css" />

    <!-- eCommerce Demo Specific Stylesheet -->
    <link rel="stylesheet" href="~/demos/ecommerce/ecommerce.css" type="text/css" />
    <link rel="stylesheet" href="~/demos/ecommerce/css/fonts.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/css/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="~/css/colors.css" type="text/css" />
    <link rel="stylesheet" href="~/custom-style.css" type="text/css" />

   

    <!-- Document Title
    ============================================= -->
    <title>Canvas Shop | Canvas</title>

</head>
<body>

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Top Bar
        ============================================= -->
        <!--
        <div id="top-bar" class="dark">
            <div class="container py-3">
                <p class="center mb-0 clearfix">Back to the future of awesome Bags: Introducing canvas market. <a href="#">Shop Now</a><a href="#" id="close-bar" class="float-end border-bottom-0"><i class="icon-line-cross"></i></a></p>
            </div>
        </div>
        -->
        <!-- Header
        ============================================= -->
       
        @Html.Partial("_Header");

        <!-- Content
        ============================================= -->
        @RenderBody()

        <!-- Footer
         ============================================= -->
        
         @Html.Partial("_Footer");

    </div><!-- #wrapper end -->
    @RenderBody()

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-line-arrow-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.min.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="~/js/functions.js"></script>

    <script>

        // Topbar Hide
        $('#top-bar').on('click', '#close-bar', function () {
            $(this).parents('#top-bar').slideUp(300);
            $('body').css('padding-top', 0);
        })

        jQuery(window).on('pluginCarouselReady', function () {
            // Custom Carousel
            $('.owl-carousel').owlCarousel({
                items: 1,
                dotsContainer: '#item-color-dots',
                loop: true,
            });
        });
    </script>
    <script src="~/js/customNavActiveChange.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
