<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Crimson Closet</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,300,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/prism.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>
    
    <partial name="_HeaderUA"/>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
 

    <partial name="_FooterUA" />
    @*can modify result as below
        var result = Html.Partial("_FooterUA")
    *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="~/js/vendors/bootstrap.min.js"></script>
    <script src="~/js/prism.min.js"></script>
    <script src="~/js/vendors/owl.carousel.min.js"></script>
    <script src="~/js/vendors/chart.min.js"></script>
    <script src="~/js/vendors/gmaps.min.js"></script>
    <script src="~/js/vendors/magnific-popup.min.js"></script>
    <script src="~/js/vendors/masonry.min.js"></script>
    <script src="~/js/vendors/imagesLoaded.min.js"></script>
    <script src="~/js/vendors/dataTables.min.js"></script>
    <script src="~/js/vendors/dataTables.bootstrap.min.js"></script>
    <script src="~/js/scripts.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
