<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Montserrat:300,400,500,600,700|Merriweather:300,400,300i,400i&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/css/swiper.css" type="text/css" />

    <!-- eCommerce Demo Specific Stylesheet -->
    <link rel="stylesheet" href="~/demos/ecommerce/ecommerce.css" type="text/css" />
    <link rel="stylesheet" href="~/demos/ecommerce/css/fonts.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/css/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="~/css/colors.css" type="text/css" />
    <link rel="stylesheet" href="~/custom-style.css" type="text/css" />

   

    <!-- Document Title
    ============================================= -->
    <title>Canvas Shop | Canvas</title>

</head>
<body>

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Top Bar
        ============================================= -->
        <!--
        <div id="top-bar" class="dark">
            <div class="container py-3">
                <p class="center mb-0 clearfix">Back to the future of awesome Bags: Introducing canvas market. <a href="#">Shop Now</a><a href="#" id="close-bar" class="float-end border-bottom-0"><i class="icon-line-cross"></i></a></p>
            </div>
        </div>
        -->
        <!-- Header
        ============================================= -->
        <header id="header" class="full-header" data-menu-padding="30">
            <div id="header-wrap">
                <div class="container">
                    <div class="header-row align-items-lg-stretch">

                        <!-- Logo
                        ============================================= -->
                        <div id="logo">
                            <a class="standard-logo" asp-controller="Home" asp-action="Index"><img src="~/demos/ecommerce/images/logo.png" alt="Canvas Logo"></a>
                            <a class="retina-logo" asp-controller="Home" asp-action="Index"><img src="~/demos/ecommerce/images/logo@2x.png" alt="Canvas Logo"></a>
                        </div><!-- #logo end -->

                        <div class="header-misc align-items-lg-stretch">

                            <partial name="_LoginThemePartial" />

                        </div>

                        <div id="primary-menu-trigger">
                            <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                        </div>

                        <!-- Primary Navigation
                        ============================================= -->
                        <nav class="primary-menu style-ecommerce menu-spacing-margin">

                            <ul class="menu-container">
                                <li id="home-nav-link" class="menu-item"><a class="menu-link" asp-controller="Home" asp-action="Index"><div>Home</div></a></li>
                                <li id="closet-nav-link" class="menu-item mega-menu"><a class="menu-link" asp-controller="Items" asp-action="Index"><div>Closet</div></a></li>
                                <li class="menu-item mega-menu mega-menu-small"><a class="menu-link" href="#"><div>Link1</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="#"><div>Link2</div></a></li>
                            </ul>

                        </nav><!-- #primary-menu end -->


                    </div>
                </div>
            </div>
            <div class="header-wrap-clone"></div>
        </header><!-- #header end -->

        <!-- Content
        ============================================= -->
        @RenderBody()

        <!-- Footer
         ============================================= -->
        
         @Html.Partial("_Footer");

    </div><!-- #wrapper end -->
    @RenderBody()

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-line-arrow-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.min.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="~/js/functions.js"></script>

    <script>

        // Topbar Hide
        $('#top-bar').on('click', '#close-bar', function () {
            $(this).parents('#top-bar').slideUp(300);
            $('body').css('padding-top', 0);
        })

        jQuery(window).on('pluginCarouselReady', function () {
            // Custom Carousel
            $('.owl-carousel').owlCarousel({
                items: 1,
                dotsContainer: '#item-color-dots',
                loop: true,
            });
        });
    </script>
    <script src="~/js/customNavActiveChange.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
