@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_LayoutTheme";
}

<!-- Page Title
		============================================= -->
<section id="page-title" class="bg-alt">

	<div class="container clearfix">
		<h1 class="bg-color-light">Sorry, an error occured... Try Again</h1>
		<span class="bg-color-light">Crimson Closet Error</span>
	</div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<h3>Usually this is because you cannot connect to the internet or the reception is bad</h3>
			
		</div>
	</div>
</section><!-- #content end -->
