@{
    
        Layout = "/Views/Shared/_LayoutUA.cshtml";

}

<h1 class="text-center">Manage your account</h1>

<div class="w-100 d-flex flex-column align-items-center">
    <hr />
    <div class="account-manage-container ">
        <div class="w-100 d-flex flex-column align-items-center">
            <partial name="_ManageNav" />
        </div>
        <div class="w-100 d-flex flex-column align-items-center">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
