@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<!-- Page Sub Menu
        ============================================= -->
<div id="page-menu" class="no-sticky">
    <div id="page-menu-wrap" class="bg-alt">
        <div class="container">
            <div class="page-menu-row">

                <nav class="page-menu-nav">
                    <ul class="page-menu-container">
                        <li class="page-menu-item"><a id="profile" asp-page="./Index"><div>Profile</div></a></li>
                        <li class="page-menu-item"><a id="email" asp-page="./Email"><div>Email</div></a></li>
                        <li class="page-menu-item"><a id="change-password" asp-page="./ChangePassword"><div>Password</div></a></li>
                    </ul>
                </nav>

                <div id="page-menu-trigger"><i class="icon-reorder"></i></div>

            </div>
        </div>
    </div>
</div><!-- #page-menu end -->

