@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row w-100">
    <div class="col-md-12">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="custom-ua-summary-error-message"></div>
            @if (Model.IsEmailConfirmed)
            {
                    <label asp-for="Email" class="form-label"></label>
                <div class="form-group input-group  mb-3 ml-5 mr-5">
                    <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
            }
            <div class="form-group mb-3 ml-5 mr-5">
                <label asp-for="Input.NewEmail" class="form-label">New Email</label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="custom-ua-error-message"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="button button-large w-100 py-2 rounded-1 fw-medium nott ls0 m-0">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
