@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row w-100">
    <div class="col-md-12">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="custom-ua-summary-error-message"></div>
            <div class="form-group mb-3 ml-5 mr-5">
                <label asp-for="Input.FirstName" class="form-label">First Name<span class="required-asterisk">*</span></label>
                <input asp-for="Input.FirstName" class="form-control"  />
                <span asp-validation-for="Input.FirstName" class=""></span>
            </div>
            <div class="form-group mb-3 ml-5 mr-5">
                <label asp-for="Input.LastName" class="form-label">Last Name<span class="required-asterisk">*</span></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class=""></span>
            </div>
            <div class="form-group mb-3 ml-5 mr-5">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group mb-3 ml-5 mr-5">
                <label asp-for="Input.CWID" class="form-label">CWID</label>
                <input asp-for="Input.CWID" class="form-control" disabled />
            </div>
            <div class="form-group mb-3 ml-5 mr-5">
                <label asp-for="Input.PhoneNumber" class="form-label">Phone Number<span class="required-asterisk">*</span></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class=""></span>
            </div>
            <button id="update-profile-button" type="submit" class="button button-large w-100 py-2 rounded-1 fw-medium nott ls0 m-0">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
