@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>Set your password</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="custom-ua-error-message text-center">
    Because you this account is authenticated using Microsoft, you do not have a password to sign in locally. Set a password to make your account local.
</p>
<div class="row w-100">
    <div class="col-md-12">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3 ml-5 mr-5">
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="custom-ua-error-message"></span>
            </div>
            <div class="form-group mb-3 ml-5 mr-5">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="custom-ua-error-message"></span>
            </div>
            <button type="submit" class="button button-large w-100 py-2 rounded-1 fw-medium nott ls0 m-0">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
