@{
    ViewData["Title"] = "NoCartPage";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<!-- Page Title
        ============================================= -->
<section id="page-title" class="">

    <div class="container clearfix">
        <h1 class="">Nothing is in you cart</h1>
        <span class="">Go pick some things out!</span>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix d-flex justify-content-center align-items-center flex-column">
            <h3>Empty Cart</h3>
            <h3>
                <a class="menu-link" asp-controller="Closet" asp-action="Index"><div class="button">Go to Cart</div></a>
            </h3>
        </div>
    </div>
</section><!-- #content end -->
