@model IEnumerable<crimson_closet.Areas.Identity.Data.ApplicationUserRole>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutTheme";
}

<div class="container">
    <h1>All Asssigned Roles</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table make-jquery-table table-hover table-striped dt-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </th>

                <th>
                    Roll Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //sets the parameters
                var parms = new Dictionary<string, string>
            {
            { "UserId", item.User.Id },
            { "RoleId", item.Role.Id }
            };

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        <form asp-action="Delete">
                            <input asp-controller="ApplicationUserRoles" asp-action="Delete" asp-all-route-data="parms" type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
