@model crimson_closet.Models.CustOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}


<div class="container mt-5">
    <h1> Order Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            User
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt class="col-sm-2">
            Check-Out Date
        </dt>
        <dd class="col-sm-10">
            @DateOnly.FromDateTime(Model.CheckOutDate)
        </dd>
        <dt class="col-sm-2">
            Return By
        </dt>
        <dd class="col-sm-10">
            @DateOnly.FromDateTime(Model.ReturnByDate)
        </dd>
    </dl>
</div>

