@{
    ViewData["Title"] = "AdminPortal";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
<section class="m-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 col-sm-12 d-flex justify-content-center align-items-center">
            <div class="style-msg2" style="background-color: #EEE;">
                <div class="msgtitle">Manage Orders</div>
                <div class="sb-msg d-flex flex-column text-center">
                    <p>Select from the links below to navigate to your appropriate page: </p>
                    <a asp-controller="CustOrders" asp-action="AllOrders">Display All Orders</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-lg-4 col-sm-12 d-flex justify-content-center align-items-center">
            <div class="style-msg2" style="background-color: #EEE;">
                <div class="msgtitle">Manage Items</div>
                <div class="sb-msg d-flex flex-column text-center">
                    <p>Select from the links below to navigate to your appropriate page: </p>
                    <a asp-controller="Items" asp-action="Index">Display All Items</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-lg-4 col-sm-12 d-flex justify-content-center align-items-center">
            <div class="style-msg2" style="background-color: #EEE;">
                <div class="msgtitle">Manage Roles</div>
                <div class="sb-msg d-flex flex-column text-center">
                    <p>Select from the links below to navigate to your appropriate page: </p>
                    <a asp-controller="ApplicationRoles" asp-action="Index">Display All Roles</a>
                    <a asp-controller="ApplicationUserRoles" asp-action="Create">Assign Roles</a>
                    <a asp-controller="ApplicationUserRoles" asp-action="Index">Roles Assignment Table</a>
                </div>
            </div>

        </div>
       
    </div>
</section>


