@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutTheme";
}
<section id="slider" class="slider-element slider-parallax revslider-wrap include-header min-vh-0">
    <div class="slider-inner">

        <!--
        #################################
            - THEMEPUNCH BANNER -
        #################################
        -->
        <div id="rev_slider_op-fc_wrapper" class="rev_slider_wrapper fullscreen-container" style="padding:0px;">
            <!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
            <div id="rev_slider_op-fc" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.4">
                <ul>
                    <!-- SLIDE  -->
                    <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="images/slider/rev/ken-1-thumb.jpg" data-delay="10000" data-saveperformance="off" data-title="Responsive Design">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/Shelby-Quad.jpeg" alt="kenburns6" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-bgpositionend="right center">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption fw-semibold center ltl tp-resizeme crimson-color"
                             data-x="center" data-hoffset="0"
                             data-y="top" data-voffset="280"
                             data-textAlign="center"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-fontsize="['110','90','70','64']"
                             data-speed="800"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-width="['800','800','560','360']"
                             data-height="none"
                             data-endeasing="Power4.easeIn" style="z-index: 3;">
                            Crimson Closet
                        </div>

                        <div class="tp-caption center ltl tp-resizeme crimson-color"
                             data-x="center" data-hoffset="0"
                             data-y="top" data-voffset="360"
                             data-width="['750','750','480','360']"
                             data-textAlign="center"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="1250"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-height="none"
                             data-whitespace="['normal','nowrap','normal','normal']"
                             data-endeasing="Power4.easeIn" style="z-index: 3; line-height: 32px">
                            <p class="lead">At The University of Alabama</p>
                        </div>



                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-thumb="images/slider/rev/ken-2-thumb.jpg" data-delay="10000" data-saveperformance="off" data-title="Unlimited Possibilities">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/WhereLegendsAreMade.jpg" alt="kenburns6" data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-bgpositionend="center top">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption fw-semibold center ltl tp-resizeme bg-color-light"
                             data-x="center" data-hoffset="0"
                             data-y="top" data-voffset="280"
                             data-textAlign="center"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-fontsize="['110','90','70','64']"
                             data-speed="800"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-width="['800','800','560','360']"
                             data-height="none"
                             data-endeasing="Power4.easeIn" style="z-index: 3;">
                            UA's Closet
                        </div>

                        <div class="tp-caption center ltl tp-resizeme bg-color-light"
                             data-x="center" data-hoffset="0"
                             data-y="top" data-voffset="360"
                             data-textAlign="center"
                             data-width="['750','750','480','360']"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="1250"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-height="none"
                             data-whitespace="['normal','nowrap','normal','normal']"
                             data-endeasing="Power4.easeIn" style="z-index: 3;line-height: 32px">
                            <p class="lead">Free Lending on Campus</p>
                        </div>



                    </li>
                </ul>
            </div>
        </div><!-- END REVOLUTION SLIDER -->

    </div>
</section>
<section id="content">
    <div class="content-wrap py-0 ">

        <div id="section-about" class="center page-section">

            <div class="container clearfix mt-5">

                <h2 class="mx-auto bottommargin font-body" style="max-width: 700px; font-size: 40px;">A Closet filled with the brands you love </h2>

                <p class="lead mx-auto bottommargin" style="max-width: 800px;"> The Denise and Chandler Root Crimson Career Closet, located in 3607C The University of Alabama Student Center, next to the main Career Center, houses professional clothing that students can borrow at no cost for interviews, career fairs and presentations. Our inventory includes button-down shirts, blouses, blazers, pants, skirts, ties and suits.</p>

                <p class="bottommargin" style="font-size: 16px;"><a asp-action="Index" asp-controller="Items" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">Go To Closet <i class="icon-angle-right"></i></a></p>

                <div class="clear"></div>



            </div>

        </div>

        <div id="section-works" class="page-section pt-0">

            <div class="section m-0">
                <div class="container clearfix">
                    <div class="mx-auto center" style="max-width: 900px;">
                        <h2 class="mb-0 fw-light ls1">Students in good academic standing with no overdue clothing items may check out up to four pieces at a time. Items may be kept for up to seven days, and may be returned any time during normal business hours. Students will be required to complete a rental agreement upon checking out clothes.</h2>
                    </div>
                </div>
            </div>
        </div>

        <div id="section-services" class="page-section pt-0 ">

            <div class="section m-0 bg-alt">
                <div class="container clearfix">
                    <div class="mx-auto center" style="max-width: 900px;">
                        <h2 class="mb-0 fw-light ls1 bg-color-light">Don’t wait until the last minute to find attire for your interview! Schedule an appointment in <a href="https://career.sa.ua.edu/handshake/">Handshake. </a>If you have problems scheduling in Handshake, please call 205-348-4363.</h2>
                    </div>
                </div>
            </div>




            <div class="section parallax m-0 dark" style="background-image: url('one-page/images/page/testimonials.jpg'); padding: 150px 0;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">

                <div class="container clearfix">

                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="fslider testimonial testimonial-full bg-transparent border-0 shadow-none p-0" data-arrows="false">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide">
                                            <div class="testi-content">


                                                <p class="menu-item">We need Women’s clothing (all items), sizes 4 and under and 12 and up</p>
                                                <p>We need Men’s jackets size 34 and up</p>
                                                <p> We need Men’s pants size 34 and under</p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div id="section-works" class="page-section pt-0">

            <div class="section m-0">
                <div class="container clearfix">
                    <div class="mx-auto center" style="max-width: 900px;">
                        <h2 class="mb-0 fw-light ls1">
                            We also gladly accept monetary donations to the closet. To donate, please visit the UA Giving Page and search for “Crimson Career Closet Support Fund” under “Search All UA Funds.”
                            
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div id="section-contact" class="page-section pt-0">
        </div>

    </div>
</section><!-- #content end -->


@section Scripts {
    <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
    <script src="~/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script src="~/include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/js/functions.js"></script>

    <script>

        // Revolution Slider Scripts
        var tpj = jQuery;
        tpj.noConflict();
        var $ = jQuery.noConflict();

        tpj(document).ready(function () {

            var apiRevoSlider = tpj('#rev_slider_op-fc').show().revolution(
                {
                    sliderType: "standard",
                    jsFileLocation: "include/rs-plugin/js/",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 16000,
                    responsiveLevels: [1140, 992, 768, 480],
                    visibilityLevels: [1140, 992, 768, 480],
                    gridwidth: [1140, 992, 768, 480],
                    gridheight: [700, 768, 960, 720],
                    hideThumbs: 200,

                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 5,

                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style: "hermes",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '<div class="tp-arr-allwrapper">   <div class="tp-arr-imgholder"></div>    <div class="tp-arr-titleholder">{{title}}</div> </div>',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 10,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 10,
                                v_offset: 0
                            }
                        }
                    },

                    touchenabled: "on",
                    onHoverStop: "on",

                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,

                    keyboardNavigation: "off",

                    shadow: 0,
                    fullWidth: "off",
                    fullScreen: "on",

                    spinner: "spinner4",

                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,

                    shuffle: "off",

                    autoHeight: "off",
                    forceFullWidth: "off",

                    hideThumbsOnMobile: "off",
                    hideNavDelayOnMobile: 1500,
                    hideBulletsOnMobile: "off",
                    hideArrowsOnMobile: "off",
                    hideThumbsUnderResolution: 0,

                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0,
                });

            apiRevoSlider.on("revolution.slide.onchange", function (e, data) {
                SEMICOLON.slider.revolutionSliderMenu();
            });

        }); //ready

    </script>
}

