@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div>
        [Insert Pic Here]
    </div>
    <div id="overview-text">
        Overview:
    </div>
    <div id="steps-text">
        Steps:
    </div>
    <div id="donations-text">
        Donations:
    </div>
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
