@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutTheme";
}

<div id="page-id-home">

</div>
<h1 class="text-center m-auto" id="titleText">Denise and Chandler Root Crimson Career Closet</h1>
<div class="container">
    <img id="homepagePicture" alt="Crimson Closet Homepage" src="~/images/WhereLegendsAreMade.jpg" />
</div>
<div class="container">
    <p>
        The Denise and Chandler Root Crimson Career Closet, located in 3607C The University of Alabama Student Center, next to the main Career Center, houses professional clothing that students can borrow at no cost for interviews, career fairs and presentations. Our inventory includes button-down shirts, blouses, blazers, pants, skirts, ties and suits.
    </p>
    <p>
        Students in good academic standing with no overdue clothing items may check out up to four pieces at a time. Items may be kept for up to seven days, and may be returned any time during normal business hours. Students will be required to complete a rental agreement upon checking out clothes.</p>
    </p>
    <p>
        Don’t wait until the last minute to find attire for your interview! Schedule an appointment in <a href="https://career.sa.ua.edu/handshake/">Handshake. </a>If you have problems scheduling in Handshake, please call 205-348-4363.
    </p>
</div>
<div class="container">
    <h4>Donations</h4>
    <p>
        You can make a tax-deductible donation of new or gently-used professional clothing to the Closet. Due to our limited space and growing inventory, we are seeking to be intentional about what types of items we accept. Please ensure donations are of professional attire (no accessories) in a modern style appropriate for undergraduate students. We kindly ask that you please dry-clean items before donating.
    </p>
    <p>
        We have a particular need for:
        <ul>
            <li>Women’s clothing (all items), sizes 4 and under and 12 and up</li>
            <li>Men’s jackets size 34 and up</li>
            <li>Men’s pants size 34 and under</li>
        </ul>
    </p>
    <p>
        We also gladly accept monetary donations to the closet. To donate, please visit the UA Giving Page and search for “Crimson Career Closet Support Fund” under “Search All UA Funds.”
    </p>
</div>

