@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "_LayoutTheme";
}
<!-- Page Title
        ============================================= -->
<section id="page-title">

    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <span>You do not have access to this resource.</span>
        
    </div>

</section><!-- #page-title end -->
<section class="bg-alt " style="height: 8vw; width: 100%;"></section>
