@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutTheme";
}


<div class="container register-container">
    <div class="cs-signin-form">
        <div class="cs-signin-form-inner">
           
            <h2 id="external-login-title" class="text-center">Associate your @Model.ProviderDisplayName account.</h2>
            <hr />

            <p id="external-login-description" class="success-message text-center">
                You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                Please fill out other information below to complete your account.
            </p>

            <div class="clear"></div>

            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" class="mb-0 row" method="post">
                <div asp-validation-summary="ModelOnly" class="custom-ua-error-message"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.FirstName" class="nott ls0 fw-normal mb-1">FirstName:</label>
                            <input asp-for="Input.FirstName" id="login-form-firstname" class="form-control fw-semibold" placeholder="First Name" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.FirstName" class="font-weight-bold custom-ua-error-message"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName" class="nott ls0 fw-normal mb-1">Last Name:</label>
                            <input asp-for="Input.LastName" id="login-form-lastname" class="form-control fw-semibold" placeholder="Last Name" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.LastName" class="font-weight-bold custom-ua-error-message"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.UserName" class="nott ls0 fw-normal mb-1">Username:</label>
                            <input asp-for="Input.UserName" id="login-form-username" class="form-control fw-semibold" placeholder="Username" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.UserName" class="font-weight-bold custom-ua-error-message"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.CWID" class="nott ls0 fw-normal mb-1">CWID:</label>
                            <input asp-for="Input.CWID" id="login-form-cwid" class="form-control fw-semibold" placeholder="CWID" autocomplete="on" aria-required="true" />
                            <span asp-validation-for="Input.CWID" class="font-weight-bold custom-ua-error-message"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.PhoneNumber" class="nott ls0 fw-normal mb-1">PhoneNumber:</label>
                            <input asp-for="Input.PhoneNumber" id="login-form-phone" class="form-control fw-semibold" placeholder="PhoneNumber" autocomplete="on" aria-required="true" />
                            <span asp-validation-for="Input.PhoneNumber" class="font-weight-bold custom-ua-error-message"></span>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <button id="registerSubmit" type="submit" class="button button-large w-100 py-2 rounded-1 fw-medium nott ls0 m-0">Register and Login</button>
                    </div>
                </div>




            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
