@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutTheme";
}
<div class="container login-container">


    <div class="cs-signin-form">
        <div class="cs-signin-form-inner">
            <div class="text-center">
                <h3 class="h1 fw-bolder mb-3">Sign In</h3>
                <p class="text-smaller text-muted mb-4" style="line-height: 1.5;">Sign In With Your Microsoft UA Email</p>
            </div>
            <div class="d-flex justify-content-center mb-2 ">
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mb-0 form-horizontal">

                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="social-icon si-large si-colored si-google d-flex flex-column align-items-center" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">

                            <i class="icon-microsoft"></i>
                            <i class="icon-microsoft "></i>
                           
                        </button>
                    }

                </form>

            </div>

            <div class="clear"></div>

            <div class="divider divider-center my-2"><span>OR</span></div>

            <form id="account" class="mb-0 row" method="post">
                <div asp-validation-summary="ModelOnly" class="custom-ua-summary-error-message"></div>
                <div class="form-group">
                    <label asp-for="Input.Username" class="nott ls0 fw-normal mb-1">Username:</label>
                    <input asp-for="Input.Username" id="login-form-username" class="form-control fw-semibold" placeholder="Username" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Username" class="font-weight-bold custom-ua-error-message"></span>
                </div>

                <div class="clear"></div>
                <div class="col-12 form-group">
                    <label asp-for="Input.Password" class="nott ls0 fw-normal mb-1">Password:</label>
                    <input asp-for="Input.Password" type="password" class="form-control fw-semibold" autocomplete="current-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="font-weight-bold custom-ua-error-message"></span>
                </div>
                <div class="col-12 d-flex justify-content-between">
                    <div class="form-check form-check-inline">

                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <a id="forgot-password" class="text-smaller fw-medium" asp-page="./ForgotPassword"><u>Forgot Password?</u></a>
                </div>

                <div class="col-12 mt-4">
                    <button id="login-submit" type="submit" class="button button-large w-100 py-2 rounded-1 fw-medium nott ls0 m-0">Log in</button>
                </div>
            </form>
            <p class="mb-0 mt-4 text-center fw-semibold">Don't have an account? <a id="forgot-password" asp-page="./Register">Sign Up</a></p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/loginPage.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    }
