@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutTheme";
}


<div class="container register-container">
    <div class="cs-signin-form">
        <div class="cs-signin-form-inner">
            <div class="text-center">
                <h3 class="h1 fw-bolder mb-3">Register</h3>
                <p class="text-smaller text-muted mb-4" style="line-height: 1.5;">Sign Up With Your Microsoft UA Email</p>
            </div>
            <div class="d-flex justify-content-center mb-2">
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="social-icon si-small si-colored si-google" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">

                            <i class="icon-microsoft"></i>
                            <i class="icon-microsoft"></i>
                        </button>
                    }
                </form>
            </div>

            <div class="clear"></div>

            <div class="divider divider-center my-2"><span>OR</span></div>

            <form id="account" class="mb-0 row" method="post">
                <div asp-validation-summary="ModelOnly" class="custom-ua-summary-error-message"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.FirstName" class="nott ls0 fw-normal mb-1">FirstName:</label>
                            <input asp-for="Input.FirstName" id="login-form-username" class="form-control fw-semibold" placeholder="First Name" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.FirstName" class="font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName" class="nott ls0 fw-normal mb-1">Last Name:</label>
                            <input asp-for="Input.LastName" id="login-form-username" class="form-control fw-semibold" placeholder="Last Name" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.LastName" class="font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Username" class="nott ls0 fw-normal mb-1">Username:</label>
                            <input asp-for="Input.Username" id="login-form-username" class="form-control fw-semibold" placeholder="Username" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Username" class="font-weight-bold"></span>
                        </div>

                        <div class="clear"></div>
                        <div class="col-12 form-group">
                            <label asp-for="Input.Password" class="nott ls0 fw-normal mb-1">Password:</label>
                            <input asp-for="Input.Password" type="password" class="form-control fw-semibold" autocomplete="on" aria-required="true" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="clear"></div>
                        <div class="col-12 form-group">
                            <label asp-for="Input.ConfirmPassword" class="nott ls0 fw-normal mb-1">Confirm Password:</label>
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control fw-semibold" autocomplete="on" aria-required="true" placeholder="Confirm Password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email" class="nott ls0 fw-normal mb-1">Email:</label>
                            <input asp-for="Input.Email" id="login-form-username" class="form-control fw-semibold" placeholder="Email" autocomplete="on" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.CWID" class="nott ls0 fw-normal mb-1">CWID:</label>
                            <input asp-for="Input.CWID" id="login-form-username" class="form-control fw-semibold" placeholder="CWID" autocomplete="on" aria-required="true" />
                            <span asp-validation-for="Input.CWID" class="font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.PhoneNumber" class="nott ls0 fw-normal mb-1">PhoneNumber:</label>
                            <input asp-for="Input.PhoneNumber" id="login-form-username" class="form-control fw-semibold" placeholder="PhoneNumber" autocomplete="on" aria-required="true" />
                            <span asp-validation-for="Input.PhoneNumber" class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <button id="registerSubmit" type="submit" class="button button-large w-100 py-2 rounded-1 fw-medium nott ls0 m-0">Log in</button>
                    </div>
                </div>




            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

