@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "_LayoutTheme";
}


<!-- Page Title
        ============================================= -->
<section id="page-title">

    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <span>Please check your email to confirm your account. The email is probably in your spam.</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
            <li class="breadcrumb-item active" aria-current="page">Email Confirmation</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<section class="bg-alt " style="height: 8vw; width: 100%;"></section>
