/*PLEASE KEEP IN ALPHABETICAL ORDER*/

:root{
    --primary-color: #9e1b32;
    --secondary-color: #828a8f;
    --success-color: green;
}

.account-manage-container {
    max-width: 500px;
    width:100%;
  
 
}

.crimson-color-tabs .nav-link.active, .nav-link-custom:hover {
    color: var(--primary-color);
}

crimson-color {
    color: var(--primary-color);
}

#corner-logo {
    width: 100px;
    height: 100px;
}

.custom-ua-summary-error-message {
    color: var(--primary-color);
}
.custom-ua-summary-error-message ul{
    list-style: none;
    margin: 0;
    padding:5px 0;
}

.custom-ua-error-message{
    color:var(--primary-color);
}

#flush-left-list {
    list-style: none;
    text-align: left;
}

#flush-right-list {
    list-style: none;
    text-align: right;
    background-position: 100%;
}

.mw-login-form {
    max-width: 358px
}

.nav-link-custom {
    color: var(--secondary-color);
}

/*.navbar-brand {
    width: 250px;
    height: 100px;
}*/

.provider-logo {
    width: 20px;
    margin: 0 10px;
}
.register-container-main{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.register-btn-max-width {
    max-width:400px;
    
}
.register-sizing-container {
    width: 100%;
    max-width: 600px;
}
.success-message{
    color:var(--success-color);
}
.vh-100 {
    height: 100vh;
}
