
:root {
    --primary-color: #9e1b32;
    --secondary-color: #828a8f;
}


.bg-alt {
    background-color: var(--secondary-color) !important;
}

.crimson-btn {
    color: var(--primary-color)!important;
    border: 2px solid var(--primary-color) ;
}
.crimson-color {
    color: var(--primary-color);
}
.bg-color-light {
    color: #FFF !important;
}

.custom-card {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    overflow: hidden;
}

.custom-ua-error-message {
    color: var(--primary-color);
}
.login-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
}
.manage-account-container{
    width: 100%;
    max-width: 600px;
    margin: 50px 0;
}
.no-input-style{
    all:unset;
  
}
.register-container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
}
